.card {
  background-color: $color-claro;
  border-radius: 20px;
  overflow: hidden;
  width: 420px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);

  &-header {
    width: 100%;
    display: block;
    border-bottom: 5px solid $light-gray;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $light-gray;

    &-img {
      border: 5px solid $color-claro;
      border-radius: 50%;
      margin-top: -80px;
      width: 140px;
      height: 140px;
    }

    &-title {
      margin: 0;
      margin-top: 2rem;
      color: $very-dark;
      font-size: 2rem;
    }

    &-status {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      &-indicator {
        /* Estos estilos cambian por la condicional ubicada en main.js esto para indicar si el personaje sigue con vida o no */
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: red;
        margin-bottom: 5px;
        margin-right: 8px;
      }
      &-text {
        font-size: 1.7rem;
        color: $dark-gray;
        margin-bottom: 2rem;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-evenly;

    &-social {
      text-align: center;

      h3 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
        color: $very-dark;
      }

      p {
        margin-top: 0;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        color: $dark-gray;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }
  }
}

.verde {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
  margin-bottom: 5px;
  margin-right: 8px;
}

.rojo {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: 5px;
  margin-right: 8px;
}

.naranja {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: orange;
  margin-bottom: 5px;
  margin-right: 8px;
}
