/* Colores  */
$dark-cyan: hsl(185, 75%, 39%);
$very-dark: hsl(229, 23%, 23%);
$dark-gray: hsl(227, 10%, 46%);
$light-gray: hsl(227, 10%, 90%);
$color-claro: #fff;
$base-color: #526e2dff;
$hover-color: rgb(247, 247, 247);

/* Fuentes */
$fuente-primary: "Kumbh Sans", sans-serif;
